@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f55a5a;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--icon {
  margin-right: 8px;
}

.header--title {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.card {
  margin: 40px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f5f5f5;
}

.card--img {
  margin-right: 18px;
}

.card--info_location {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card--info_location-icon {
  width: 8px;
  margin-right: 4px;
}

.card--info_country {
  text-transform: uppercase;
  margin-right: 8px;
  font-size: 12px;
  letter-spacing: 2px;
}

.card--info_link {
  color: #918e9b;
  font-size: 12px;
}

.card--info_title {
  font-size: 25px;
  margin: 8px 0 12px 0;
}
